@font-face {
    font-family: "AmericanTypewriter";
    src: url("fonts/atf.ttf");
}
html body{
  font-family: "AmericanTypewriter";
  color: #646363;
    height: 100%;
    width: 100%;
/*    overflow-y:hidden;*/
}
.theme-color{
     background: #096fd3;
}

.card .card-action .chip{
    color: #000!important;
    font-size: 11px;
}
.fixed{
    position: fixed;
}
@media only screen and (max-width: 720px) {
    .fixed {
        position: relative;
    }
}

.delCardBtn{
    float: right;
    color: #fff;
    cursor: pointer;
    color:#d3d3d3 !Important;
}
